.hop{

  width: 800px;
  height: 400px;
  background-color: blue;
   position: relative; 
}
.trai{
  width: 400px;
  height: 400px;
  background-color: aqua;
}
.phai{
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: blueviolet;
}